<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/stockmanager?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="model.Supplier"/>
    <mapping class="model.Invoice"/>
    <mapping class="model.Metier"/>
    <mapping class="model.Category"/>
    <mapping class="model.Orders"/>
    <mapping class="model.Product"/>
    <mapping class="model.Customer"/>
    <mapping class="model.Employee"/>
  </session-factory>
</hibernate-configuration>
